include COPYING
include changelog
include README.md

include setup.cfg

recursive-include docs *
recursive-include licenses *
recursive-include pyds9/tests/data *

prune build
prune docs/_build
prune docs/api


global-exclude *.pyc *.o
